# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode Configs
.vscode/
StuManSys.ilk
StuManSys.pdb
a.ilk
a.pdb
compile-flags.txt
student
student.o.json
student.pdb
wiki_tui.log
Ladores
Students_Info/.csv
Students_Info/oli.csv
Students_Info/oli2.csv
